<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="shortcut icon" href="./form.png" >
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Ms+Madi&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="child-1">
            <img class='left' src="./form.jpg" alt="">
        </div>
        <div class="child-2">
                <h2>Get Started</h2>
                <h4>Already have an account ?</h4>
                <a href="#">Log In</a><br><br>
                <div class="btn">
                    <button class="logo-btn">
                         <img class="logo" src="./google.png" alt="">
                         <strong>sign up</strong>
                        <button class="logo-btn two">
                            <img class="logo" src="./facebook.png" alt="">
                            <strong>sign up</strong>
                    </button>
                </div>
                <h2 class="or">OR</h2>
                <form>
                    <label>Name</label><br>
                    <div class="input">
                        <img src="./user.png" alt="" class="input-logo">
                        <input type="text" id="">
                    </div>
                    <label>Email</label><br>
                    <div class="input">
                        <img src="./mail.png" alt="" class="input-logo">
                        <input type="email" id="">
                    </div>
                    <label>Password</label><br>
                    <div class="input">
                        <img src="./lock.png" alt="" class="input-logo">
                        <input type="password" id="">
                    </div><br>
                    <button class="submit">Submit</button>
                </form>
        </div>
    </div>
</body>
</html>